{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Questions Index:</h1>
    <!--{% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
            <li>
                <a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a>
                <button onclick="window.location.href='{% url 'polls:updateQuestion' question.id %}'">Modify Question</button>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}-->

    {% if question_list %}
        <ul>
            {% for question in question_list %}
            <li>
                <a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a>
                <button onclick="window.location.href='{% url 'polls:updateQuestion' question.id %}'" class="editButton"><img src="{% static 'polls/images/Pencil.png' %}"></img></button>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No polls are available.</p>
    {% endif %}



        <div class="addQuestion">
            <button onclick="window.location.href='{% url 'polls:newQuestion' %}'">Click Here to add a New Question</button>
        </div>
</body>
</html>