{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}

        <h3>Question Text:</h3><input type="text" name="question_text"
            value="{{ form.question_text.value|default_if_none:'' }}">

        <h3>Question Date:</h3><input type="date" name="pub_date" value="{{ form.pub_date.value }}">

        <h3>Choices: </h3>
            <ul id="choice-list">

                {% for choice in choices %}

                <li>
                    <p>choice.choice_text</p>
                </li>
                {% endfor %}

            </ul>
        <input type="text" name="question_choice" id="choice_text_input" placeholder="Your New Choice Here!">
        <button type="button" id="addChoice">Add Choice</button>

        <br><br>
        <button type="submit">Add Question</button>
    </form>
    <br><br>
    <button type="button" onclick="window.location.href='{% url 'polls:index' %}'" >Cancel</button>
</body>

</html>

<script>
    document.getElementById('addChoice').onclick = function () {
        var choice_text=document.getElementById('choice_text_input').value
        if(choice_text){
            var li=document.createElement('li');

            var input=document.createElement('input')
            input.type='input'
            input.name='choice_text'
            input.value = choice_text

            var container = document.getElementById('choice-list')
            li.appendChild(input)
            container.appendChild(li)
            
            document.getElementById('choice_text_input').value = '';
        }
    };
</script>